
*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Times New Roman', Times, serif;
}
.row{
  flex-shrink: 0;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);

}

/* width */
::-webkit-scrollbar {
  width: 10px;
  margin-right: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #39566f; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #39566f;  */
  opacity: 0.5;
}

.navbar{
  width: 100%;
  background-color: rgb(106, 149, 228);
  font-size: larger;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
}
.navbar-brand{
  font-size: 25px;
  margin-left: 10px;
}
.collapse{
  display: flex;
  justify-content: space-between;
  float: left;
  margin: auto;
  justify-content: end;

}
.navbar  ul li{
 list-style: none;
}
.collapse a{
  text-decoration: none;
  list-style: none;
  color:#fff ;
  padding:.5rem 1rem;

}
@media (min-width: 600px){
  .text h1{
    display: flex;
    /* text-align: center; */
    margin: 0px;
    padding: 0px;
  }
  .hero{
    /* height: 93vh; */
    height: calc(96vh - (48px * 2));
    /* margin: 50px; */
    /* padding: 50px; */
    float: left;
  }
  
  /* // iframe */
  iframe{
        /* display: block; */
    /* display: flex; */
    width: 100%;
    /* height: unset; */
    margin: 0px;

  }
}
/* ====== media navbar ======== */
@media (max-width: 768px) {
  .navbar {
    padding: 0;
  }

  .navbar-brand {
    font-size: 24px;
  }

  .navbar-toggler {
    display: block;
  }

    /* .navbar-collapse {
      display: none;
    } */

  .navbar-nav {
    display: flex;
    flex-direction: row;
  }

  .navbar-nav li {
    margin-bottom: 10px;
  }

  .navbar-nav li a {
    font-size: 10px;
  }
}


/* ====Hero style ===== */
.hero{
  /* height: 93vh; */
  /* height: calc(96vh - (48px * 2)); */
  margin: 50px;
  /* padding: 50px; */
  float: left;
}
#hero{
  background-color: rgb(106, 149, 228);
}
.hero .text{
  text-align: start;
}
#hero .text h1{
  color: #fff;
  font-size: 700;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.typewriter-holder {
  width: auto;
  position: relative;
  display: block;  
  margin: auto;
}

.typewriter-holder p {
  position: absolute;
  left: 0;
  line-height: 1rem;
  /* font-weight: bold; */
  font-size: medium;
  text-align: start;
}
.social-link a img{
  margin-left: 20px; 
}
.cv{
  display: flex;
  justify-content: flex-start;
}
.cv a{
  text-decoration: none;
  color: cornflowerblue;
  font-weight: bold;
  color: black;
} 
iframe{
  display: block;
    /* display: flex; */
    width: 100%;
    height: 420px;
}

/* hero media queries */
@media (max-width: 768px) {
  .container-fluid {
    padding: 0;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .col-md-6 {
    width: 100%;
    top: 0;
  }

  .hero {
    text-align: center;
  }


  .text {
    margin-top: 30px;
  }

  .social-link {
    justify-content: center;
    display: flex;
    /* margin-left: -10px; */
  }

  .cv {
    margin-top: 50px;
  }

  .col-md-6 .gif-img {
    /* display: none; */
    display: flex;
    justify-content: flex-end;
    /* float: right; */
    width: 100%;
    height: 100%;
    margin: auto;
    margin-right: 40px;
    margin-top: -200px;
    top: 0;
    outline-color: black;

  }
}

/* ===== skills ===== */
#skills .text h1{
  color: coral;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

 .language img{
  width: auto!important ;
  max-width: 8%;
  margin: 30px;
}
.language img:hover{
  opacity: 0.5px;
  background-color: rgb(106, 149, 228);
  border: none;
}

/* ======== skills media  ========== */
@media (max-width: 768px) {
  #skills {
    padding: 0;
  }

  #skills .container-fluid {
    padding: 0;
  }

  #skills .row {
    display: flex;
    flex-direction: row;
  }
  #skills .text h1{
    margin-top: 20px;
    padding-left: 20px;
    /* font-size: 10px; */
    letter-spacing:normal;
  }
  #skills h3{
    padding-left: 10px;
  }
  #skills img{
    /* width: auto; */
    margin: 0;
    padding: 10px;
    display: inline-flex;
    flex-direction: row;
  }
  #skills .gif-img{
    display: flex;
    justify-content: flex-end;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-right: 40px;
    margin-top: -200px;
  }
}



/* ===== experience ===== */
#experience{
  background-color:rgb(106, 149, 228) ;
}
#experience .card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.experience{
  margin: 50px;
}
.experience .text h1{
text-align: center;
/* font-size: clamp(.8rem,.8vw, 1.5rem)!important; */
margin:.5rem 0;
padding: 0;
line-height: normal !important;
letter-spacing: -.025em;
word-wrap: break-word;
color: #fff;
text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.experience .card-title h1{
  text-align: center;
}

/* ======== media quries for experience =========== */
@media (max-width:768px) {
  #experience{
    padding: 0;
  }
  #experience .container-fluid{
    padding: 0;
  }
  .experience .text{
    display: flex;
    justify-content: space-evenly;
  }
 
  
} 

/* ======  project ======= */

#project .project{
  /* width: 100px; */
  /* height: 100px; */
  /* background: red; */
  position: relative;
  animation-name: mymove;
  animation-duration: 3s;  
  /* animation-iteration-count: 2; */
  /* animation-fill-mode: both; */
  animation-direction: alternate-reverse;
  animation-timing-function: ease;
}
@keyframes mymove{
  from {
    left: 0px;
  }
  to{
    left: 50px;
  }
}

#project .text{
  color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.project{
  margin: 30px;
  padding: 30px;
}
.project .card{
  border: none;
  background: rgb(233, 231, 231);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 10px 10px 5px rgb(106, 149, 228);
}
.project .card  button {
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  /* background-color: rgb(106, 149, 228) ; */
  box-shadow: 10px 10px 5px rgb(106, 149, 228);
}
.project .card .card-fotter button:hover{
  /* color: #fff; */
  font-weight: bold;
}
.project .card .card-fotter img{
  margin: 10px;
  float: right;
}
/* ======== media quires for projects ========= */

/* Responsive styles */
@media only screen and (max-width: 576px) {
  .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 20px; /* Add space between project cards */
  }
  #project .project{
        /* margin-bottom: 10px; */
    /* margin-top: 10px; */
    /* width: 100%; */
    display: unset;

  }
  #project .card{
    margin: 0;
    width: 100%;
  }
  .card-body {
      font-size: 14px; /* Reduce font size for better readability */
  }
}

@media (max-width:768px){
  #project{
    padding: 0;
  }
  #project .container-fluid{
    padding: 0;
  }
  #project .text h1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    /* padding: 10px; */
  }
  #projects .row{
    display: grid;
    flex-direction: column;
  }
  #project .project{
    margin-bottom: 10px;
    margin-top: 10px;
  }
}





/* ====== contact ====== */
#contact{
  padding: 0;
  background-color: rgb(106, 149, 228);
}
.contact .text{
  margin: 20px;
}
.contact .text h1{
  color: coral;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.contact .text span{
  margin: 20px;
  font-size: larger;
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.contact .text img{
  margin-left: 20px;
}

.contact .made{
  text-align: center;
  color: coral;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}


/* ====== media quries for contact ======= */
@media (max-width: 768px) {
  #contact .container-fluid {
  padding: 0;
  }
  
  #contact .contact {
  padding: 20px;
  }
  
  #contact .text {
  text-align: center;
  }
  
  #contact .about {
  text-align: center;
  }
  
  #contact .location {
  text-align: center;
  margin-bottom: 10px;
  }
  
  #contact .social-link {
  text-align: center;
  }
  
  #contact .made {
  text-align: center;
  }
  }